body {
     background:#fff;
     color:#333;
}

#contenedor_global {
     width:930px;
     padding:0 35px;
     margin:0 auto;
}

#cabecera {
     width:930px;
     padding:0px;
     height:178px;
     margin:0px;
     background:#d9d9d9;
}

#contenido {
     width:930px;
     height:730px;
     padding:0px;
     margin:0px;
     float:left;
     background:#d5f0f0;
}

#pie {
     width:930px;
     height:86px;
     padding:0px;
     margin:0px;
     float:left;
     background:#b3f9d3;
}

#cabecera {
     width:930px;
     padding:0px;
     height:178px;
     margin:0px;
}
#menu_izquierda {
	width:221px;
	float:left;
        margin:0;
}
#menu_izquierda ul {
	width:136px;
	float:left;
	margin:0px;
	padding:0px;
	border-top:1px dotted #7f7f7f;
       list-style: none;
        
}

#menu_izquierda ul li {
	width:136px;
	height:27px;
	margin:0px;
	padding-top:10px;
	color:#222;
	float:left;
	text-transform:uppercase;
	border-bottom:1px dotted #7f7f7f;
        
}

#menu_izquierda ul li a{
	width:112px;
	float:left;
	padding-left:22px;
	color:#222;
        
}

#menu_izquierda ul li a:hover{
	color:#9d8e6e;
	background:url(../imagenes/icono-menu.png) 0 0 no-repeat;
}

#menu_izquierda ul li a.activo {
	color:#9d8e6e;
	background:url(../imagenes/icono-menu.png) 0 0 no-repeat;
}

#menu_derecha {
	width:221px;
	float:right;
}

#menu_derecha ul {
	width:136px;
	float:right;
	margin:0px;
	padding:0px;
	border-top:1px dotted #7f7f7f;
       list-style: none;
        
}

#menu_derecha ul li {
	width:136px;
	height:27px;
	margin:0px;
	padding-top:10px;
	color:#222;
	float:right;
	text-transform:uppercase;
	border-bottom:1px dotted #7f7f7f;
        
}

#menu_derecha ul li a{
	width:112px;
	float:right;
	padding-left:22px;
	color:#222;
        
}

#menu_derecha ul li a:hover{
	color:#9d8e6e;
	background:url(../imagenes/icono-menu.png) 0 0 no-repeat;
}

#menu_derecha ul li a.activo {
	color:#9d8e6e;
	background:url(../imagenes/icono-menu.png) 0 0 no-repeat;
}

/* ------------------------------------ */
/*				COLUMNAS				*/
/* ------------------------------------ */
#columnas {
     width:930px;
	 float:left;
	 margin:20px 0;
     padding:0px;
}

#col_izqda {
     width:221px;
	 float:left;
	 margin:0 75px 0 0;
     padding:0px;
	 height:300px;
	 background:#063;
}

#col_centr {
     width:326px;
	 float:left;
	 margin:0;
     padding:0px;
	 height:300px;
	 background:#063;
}

#col_drcha {
     width:240px;
	 float:right;
	 margin:0;
     padding:0px;
	 height:300px;
	 background:#063;
}

/* ------------------------------------ */
/*				PIE						*/
/* ------------------------------------ */
#pie {
     width:100%;
     padding:0px;
     margin:0px;
     float:left;
     background:#b3f9d3;
}

#barra_top {
	width:100%;
	float:left;
	background:#d9d9d9;
	height:39px;
	padding:0px;
	margin:0px;
}

#barra_bottom {
	width:100%;
	float:left;
	background:#000;
	height:46px;
	color:#fff;
}

.contenedor_pie {
     width:930px;
     padding:0 35px;
     margin:0 auto;
	 overflow:hidden;
}

#menu_pie {
	float:left;
	margin-top:12px;
	padding:0px;
	text-transform:uppercase;
	font-size:16px;
}

#menu_pie li{
	float:left;
	margin-right:60px;
	padding:0px;
}

#menu_pie li a{
	float:left;
	color:#444;
}

#menu_pie li a:hover{
	color:#9d8e6e;
}

#rrss {
	float:right;
	padding:0px;
	margin-top:12px;
}

#rrss li{
	float:left;
	margin-left:10px;
}

#validacion {
	float:left;
	margin-top:14px;
	padding:0px;
	color:#777;
	font-size:13px;
	margin-right:100px;
}

#validacion li {
	float:left;
	padding-left:17px;
	background:url(../imagenes/icono-tic.png) 0 3px no-repeat;
	margin-right:20px;
}

.aviso_legal {
	float:left;
	color:#9d8e6e;
	margin-top:14px;
	font:13px Arial, Helvetica, sans-serif;
	text-decoration:underline;
}

.aviso_legal:hover {
	color:#fff;
}

.diseno {
	float:right;
	padding:0px;
	color:#777;
	font-size:13px;
	margin-top:14px;
}

.dorado {
	color:#9d8e6e;
}